/dist/
/src/*.egg-info
/config/log.log
/data/
/build/
/test_download_lib/
/Soukyuu Boys/
/Tensei Shitara dai Nana Ouji datta node, Kimama ni Majutsu o Kiwamemasu/
/Tensei Shitara Ken Deshita Another Wish/
/config/
/tests/test.db*
venv
/tests/config/
/src/FMD3_API/config/
/FMD3_Extensions/
/extensions/
/gettext
/src/FMD3_Tkinter_old/
/Overlord - The Wonderful Wizard of Nazarick (Doujinshi)/Ch.001 Vol.01.cbz
/Overlord The Undead King Oh!/
/PGR · Overlord Celica/