/dist/
/src/*.egg-info
/config/log.log
/data/
/build/
/test_download_lib/
/Soukyuu Boys/
/Tensei Shitara dai Nana Ouji datta node, Kimama ni Majutsu o Kiwamemasu/
/Tensei Shitara Ken Deshita Another Wish/
/config/
/tests/test.db*
venv